<div class="row" *ngIf="planet">
    <div class="col s6 offset-s2 amber-text"><span>name: </span>{{planet.name}}</div>
    <div class="col s6 offset-s2 amber-text"><span>rotation_period: </span>{{planet.rotation_period}}</div>
    <div class="col s6 offset-s2 amber-text"><span>orbital_period: </span>{{planet.orbital_period}}</div>
    <div class="col s6 offset-s2 amber-text"><span>diameter: </span>{{planet.diameter}}</div>
    <div class="col s6 offset-s2 amber-text"><span>climate: </span>{{planet.climate}}</div>
    <div class="col s6 offset-s2 amber-text"><span>gravity: </span>{{planet.gravity}}</div>
    <div class="col s6 offset-s2 amber-text"><span>terrain: </span>{{planet.terrain}}</div>
    <div class="col s6 offset-s2 amber-text"><span>surface_water: </span>{{planet.surface_water}}</div>
    <div class="col s6 offset-s2 amber-text"><span>population: </span>{{planet.population}}</div>
<div>

 